<!-- ้<h1>{{myName}}</h1>
<button [disabled]="isDisable" type="summit" (click)="confirm()">cilck</button>
<input [(ngModel)]="firstName">
<br>


<input [(ngModel)]="num">
<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="num >= 80 && num<= 100">เกรด A </ng-container>
  <ng-container *ngSwitchCase="num >= 70 && num<= 79">เกรดฺ B </ng-container>
  <ng-container *ngSwitchCase="num >= 60 && num<= 69">เกรด C </ng-container>
  <ng-container *ngSwitchCase="num >= 50 && num<= 59">เกรด D </ng-container>
  <ng-container *ngSwitchCase="num < 50">เกรด F </ng-container>
  <ng-container *ngSwitchDefault>Input 0-100 </ng-container>
</ng-container> 
<br>

<button *ngIf="showButton" (click)="switch(false)" >ON</button>
<button *ngIf="!showButton" (click)="switch(true)" >OFF</button>
<br>
<tr *ngFor="let book of books">
  <td>{{book.title}}</td>
  <td>{{book.author}}</td>
</tr>
<br>

<form [formGroup]="headerForm" >
  <label>
    Address:
    <input formControlName="address">
  </label><br>
  <label>
    Telephone Number:
    <input formControlName="tel">
  </label><br>
  <label>
    Name:
    <input formControlName="fname">
  </label><br>
  <label>
    Zip code:
    <input formControlName="zipcode">
  </label><br>
  <button type="submit" [disabled]="headerForm.invalid">submit</button>
</form> 

<p>UPPERCASE</p>
 <input [(ngModel)]="fname">
<h1> {{fname | uppercase}}</h1>
<p>lowercase</p>
<input [(ngModel)]="lname">
<h1> {{lname | lowercase}}</h1>

<p>Moive</p>
<input [(ngModel)]="movie">
<button (click)="showMovie()">click</button>
 -->
 <router-outlet></router-outlet>